* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.container {
    background: #ffffff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
}

header {
    color: #444;
    padding-bottom: 15px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    text-align: center;
}

h2 {
    color: #444;
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ccc;
}

a {
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    text-decoration: underline;
}

form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.form-buttons {
    display: flex;
    gap: 10px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
}

input,
textarea,
select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    background-color: #fff;
}

select,
input[type="checkbox"],
input[type="date"] {
    cursor: pointer;
}

input:focus,
select:focus,
textarea:focus {
    border-color: #3498db;
    outline: none;
}

input[type="checkbox"] {
    width: auto;
    margin-right: 5px;
}

button,
.btn-cancel,
input[type="submit"],
.btn-link {
    background: #3498db;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    display: inline-block;
}

button:hover,
.btn-cancel:hover,
input[type="submit"]:hover,
.btn-link:hover {
    background: #2980b9;
    text-decoration: none;
}


.btn-cancel {
    background: #e74c3c;
    width: 100%;
}

.btn-cancel:hover {
    background: #c0392b;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background: white;
}

th,
td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

th {
    background: #395066;
    color: white;
}

th a {
    color: white;
}

tr:hover {
    background: #f5f5f5;
}


.select-action-form {
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

.btn-link {
    background: #2ecc71;
    margin-top: 10px;
}

.btn-link:hover {
    background: #27ae60;
}

.btn-delete {
    color: #e74c3c;
}

.btn-delete:hover {
    color: #c0392b;
}

.btn-edit {
    color: #3498db;
}

.btn-edit:hover {
    color: #2980b9;
}

.error,
.success,
.info {
    font-weight: bold;
    margin: 10px 0;
    padding: 10px;
    border-radius: 4px;
}

.info {
    color: #3498db;
    background: #d9edf7;
}

.error {
    color: #e74c3c;
    background: #fad8d8;
}

.success {
    color: #2ecc71;
    background: #daffea;
}

.text-center {
    text-align: center;
}